* {
    /* TODO : check if we really need the following three lines. */
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;

    -moz-osx-font-smoothing: grayscale;
     -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;

    font-feature-settings: 'kern' 1;
    scrollbar-color: currentcolor transparent;
    scrollbar-width: thin;
    text-rendering: optimizeLegibility;
    unicode-bidi: isolate;
    box-sizing: border-box;
    margin: 0px;

    --bg-filter: blur(15px);
    --bg-color: #22222255;
}

*, *::before, *::after {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    -webkit-mask-position: center;
            mask-position: center;
    -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
    -webkit-mask-size: contain;
            mask-size: contain;

    border-radius: 0px;
    resize: none;
}

:root {
    --font-mono: 'Bahnschrift',
                 -apple-system,
                 'BlinkMacSystemFont',
                 'Segoe UI',
                 'Roboto',
                 'Oxygen',
                 'Ubuntu',
                 'Cantarell',
                 'Fira Sans',
                 'Droid Sans',
                 'Helvetica Neue',
                 sans-serif;

    --font-code: 'Cascadia Code',
                 'Cascadia Mono',
                 'Ubuntu Mono',
                 ui-monospace,
                 'SFMono-Regular',
                 'SF Mono',
                 'Menlo',
                 'Consolas',
                 'Liberation Mono',
                 'Courier',
                 monospace;

    font-family: var(--font-mono);
    font-size: 11pt;
    position: absolute;
    display: block;
    background-color: #1E1E1E;
    color: white;

    transition-timing-function: ease;
    transition-property: all;
    transition-duration: .3s;
}

:root::before {
    background-image: url('../img/wallpaper.jpg');
    background-attachment: fixed;
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    /* filter: blur(15px); */
    opacity: .3;
    z-index: -1;
    content: '';
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
}

pre, code, c {
    font-family: var(--font-code);
}

:root,
body {
    max-height: 100% !important;
    max-width: 100% !important;
    height: 100vh;
    width: 100vw;
    left: 0px;
    top: 0px;
}

body {
    flex-direction: column;
    position: relative;
    display: flex;
}

header,
footer {
    background-color: #25252650;
    backdrop-filter: blur(15px);
    flex-direction: row;
    display: flex;
    padding: 1rem;
    width: 100%;
}

header {
    border-bottom: 1px solid currentcolor;
}

footer {
    border-top: 1px solid currentcolor;
}

main {
    position: relative;
    overflow: hidden;
    display: grid;
    width: 100%;
    flex: 1;

    grid-template-columns: auto 1px 1fr;
    grid-template-rows: 1fr 1px auto 1px 2fr;
}

main > * {
    overflow: hidden;
    display: block;
}

separator {
    background-color: #6b6b6b;
}

separator[v] {
    grid-column: 2;
    grid-row: 1 / -1;
}

separator[h="1"] {
    grid-row: 2;
    grid-column: 2 / -1;
}

separator[h="2"] {
    grid-row: 4;
    grid-column: 2 / -1;
}

pythia-input {
    grid-column: 1;
    grid-row: 1 / -1;
}

pythia-code {
    grid-column: 3;
    grid-row: 1;
}

pythia-error {
    grid-column: 3;
    grid-row: 3;
}

pythia-output {
    grid-column: 3;
    grid-row: 5;
}

pythia-output {
    margin: 1ch;
}

binary-viewer {
    flex-direction: column;
    max-height: 100%;
    max-width: 810px;
    display: flex;
    height: 100%;
}

binary-data {
    padding-right: 1ch;
    font-family: var(--font-code);
    overflow-y: scroll;
    display: block;
    height: 100%;
    width: 100%;
    flex: 1;
}

binary-data table {
    border-collapse: collapse;
}

binary-data th,
binary-data td {
    vertical-align: middle;
    word-break: keep-all;
    text-wrap: nowrap;
    text-align: left;
    padding: .2ch .5ch;
    cursor: default;
}

binary-data td {
    cursor: pointer;
}

binary-data table thead {
    background-color: var(--bg-color);
    backdrop-filter: var(--bg-filter);
    border-bottom: 1px solid currentcolor;
    pointer-events: none;
    position: sticky;
    z-index: 1;
    top: 0;
}

binary-data table thead th {
    padding-bottom: 1ch;
}

binary-data table tr th:first-child {
    pointer-events: none;
    color: #a6a6a6;
}

binary-data table tr[active],
binary-data table th[active],
binary-data table td[active] {
    background-color: #444;
}

binary-data table td[selected] {
    background-color: #555;
    color: #D7BA7D;
}

binary-data table tr:hover {
    background-color: #454545;
    color: #D7BA7D;
}

binary-data table tr:hover th:first-child {
    color: #ddd;
}

binary-data table:not(:hover) td:not([active]) {
    opacity: .8;
}

binary-data table:has(td:hover) tr:not(:hover),
binary-data table:has(th:hover) tr:not(:hover) {
    opacity: .5;
}

binary-data table th[empty],
binary-data table td[empty] {
    pointer-events: none;
}

binary-data span.error {
    color: #F44747;
}

binary-data span.control {
    color: #569CD6;
}

binary-data table td:hover {
    background-color: #6b6b6b;
    color: #CE9178;
}

binary-inspector {
    border-top: 1px solid currentcolor;
    /* min-height: 400px; */
    display: flex;
    padding: .5ch;
}

binary-inspector th {
    text-align: right;
    padding: 0 1ch;
}

binary-inspector input {
    font-family: var(--font-code);
    background-color: var(--bg-color);
    backdrop-filter: var(--bg-filter);
    border: 1px solid currentcolor;
    text-align: right;
    font-size: 1rem;
    padding: .5ch;
    color: #ddd;
    min-width: 22ch;
    width: 100%;
}

binary-inspector input:focus {
    background-color: #334;
    outline: none;
    color: #569CD6;
}

pythia-code .prism-code-editor {
    background-color: var(--bg-color);
    backdrop-filter: var(--bg-filter);
    position: relative;
    height: 100%;
    width: 100%;
}

pythia-code .prism-code-editor error-indicator {
    animation: error-indicator-pulse 1.5s infinite ease-in-out;
    background-color: #ff000050;
    border-bottom: 3px dashed red;
    margin-left: var(--padding-left);
    position: relative;
    padding: 0px;
    height: 1lh;
}

@keyframes error-indicator-pulse {
    0% {
        opacity: 1;
    }
    50% {
        opacity: .6;
    }
    100% {
        opacity: 1;
    }
}

pythia-error-status[status] {
    backdrop-filter: var(--bg-filter);
    background-color: #4c0c0c70;
    border: 1px solid currentcolor;
    display: block;
    padding: 1ch;
    color: #f47c7c;
}

pythia-error-status[status="ok" I] {
    background-color: #043a1370;
    color: #3bbe14;
}

output-window {
    overflow-y: scroll;
    display: block;
    height: 100%;
    width: 100%;
}

output-window table.output-structure {
    border-collapse: collapse;
    border: 0px solid transparent;
}

output-window table.output-structure tr {
    font-family: var(--font-code);
}

output-window table.output-structure thead {
    pointer-events: none;
}

output-window table.output-structure thead th {
    padding-bottom: 1ch;
}

output-window table.output-structure td,
output-window table.output-structure th {
    vertical-align: middle;
    text-align: left;
    padding: .25ch 1ch;
}

output-window table.output-structure tr:hover {
    backdrop-filter: var(--bg-filter);
    background-color: #45454540;
    color: #D7BA7D;
}

output-window table.output-structure:has(td:hover) tr:not(:hover),
output-window table.output-structure:has(th:hover) tr:not(:hover) {
    opacity: .9;
}

output-window table.output-structure element-name {
    background-position: center left;
    background-repeat: no-repeat;
    background-size: 1lh;
    display: table;
    height: 1lh;
    width: 1lh;
}

output-window table.output-structure element-name[state="open" I] {
    background-image: url('../img/icon-arrow-down.svg');
    cursor: pointer;
}

output-window table.output-structure element-name[state="closed" I] {
    background-image: url('../img/icon-arrow-right.svg');
    cursor: pointer;
}

output-window table.output-structure element-name::after {
    margin-left: 2ch;
    content: attr(displayname);
    display: block;
}

output-window table.output-structure a {
    cursor: pointer;
}
